.radiofilter {
  color: #fff;
  background-color: #000;
  accent-color: #000;
  width: 16px;
  height: 16px;
}
.main_makeup {
  display: flex;
  /* flex-direction: column; */
}
.filter {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-anchor: none;
  border-radius: 10px;
  box-shadow: rgb(185 185 185 / 25%) 0px 0px 9px;
  background-color: white;
  border-radius: 10px;
  height: 240px;
}
.filter1 {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-anchor: none;
  border-radius: 10px;
  box-shadow: rgb(185 185 185 / 25%) 0px 0px 9px;
  background-color: white;
  border-radius: 10px;
  height: 140px;
}
body {
  background-color: rgba(243, 240, 240, 0.974);
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}
button {
  font-weight: bold;
}
.breadcrumbs {
  width: 100%;
  height: 36px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
  padding: 10px;
  padding-left: 60px;
  background-color: #fff;
  margin-top: 30px;
}
.breadcrumbs1 {
  width: 100%;
  font-size: 14px;
  height: 36px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  padding-left: 60px;
  background-color: #fff;
  margin-top: 0px;
}
.prod_data {
  display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(3, 346px);
  grid-template-rows: repeat(auto, 420px);
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 912px) {
  .prod_data {
    display: grid;
    margin-left: 20px;
    grid-template-columns: repeat(2, 346px);
    grid-template-rows: repeat(auto, 420px);
    gap: 20px;
    margin-bottom: 30px;
  }
  .radiofilter {
    color: #fff;
    background-color: #000;
    accent-color: #000;
    width: 16px;
    height: 16px;
  }
  .main_makeup {
    display: flex;
    flex-direction: column;
  }
  .filter {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow-anchor: none;
    border-radius: 10px;
    box-shadow: rgb(185 185 185 / 25%) 0px 0px 9px;
    background-color: white;
    border-radius: 10px;
    height: 240px;
  }
  .filter1 {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow-anchor: none;
    border-radius: 10px;
    box-shadow: rgb(185 185 185 / 25%) 0px 0px 9px;
    background-color: white;
    border-radius: 10px;
    height: 140px;
  }
  body {
    background-color: rgba(243, 240, 240, 0.974);
    font-family: "Roboto", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  button {
    font-weight: bold;
  }
  .breadcrumbs {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    padding: 10px;
    padding-left: 60px;
    background-color: #fff;
    margin-top: 30px;
  }
  .breadcrumbs1 {
    width: 100%;
    font-size: 14px;
    height: 36px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    padding-left: 60px;
    background-color: #fff;
    margin-top: 0px;
  }
}
